/* Base styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
  padding: 0.75rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #065f46; /* dark green */
  font-family: "Poppins";
}

